spring:
  application:
    name: fillin


  datasource:
    url: ${LOCAL_DB_URL}
    username: ${LOCAL_DB_USERNAME}
    password: ${LOCAL_DB_PASSWORD}
    driver-class-name: com.mysql.cj.jdbc.Driver

    hikari:
      maximum-pool-size: 20
      minimum-idle: 5
      connection-timeout: 30000
      validation-timeout: 2000
      idle-timeout: 600000
      max-lifetime: 1800000
      connection-test-query: SELECT 1
      pool-name: FillinHikariPool


  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
    properties:
      hibernate:
        format_sql: true


server:
  tomcat:
    max-threads: 200              # 운영 인스턴스와 동일하게 유지
    accept-count: 100
    mbeanregistry:
      enabled: true

springdoc:
  api-docs:
    enabled: true
  swagger-ui:
    enabled: true


app:
  env: local


